*,*::before,*::after {
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Lato";
}

@font-face {font-family: "Lato"; src: url("Lato.ttf")}
@font-face {font-family: "Geomanist"; src: url("Geomanist.ttf")}
@font-face {font-family: "Vollkorn"; src: url("Vollkorn.ttf")}
@font-face {font-family: "Poppins"; src: url("Poppins.ttf")}
@font-face {font-family: "Geograph"; src: url("Geograph.ttf")}

*::selection {background: #F7DC64;}
*::-webkit-scrollbar {display: none;}
html {scroll-behavior: smooth !important;}

:root {
  --gray: #252525;
  --green: rgb(138, 217, 120);
  --yellow: rgb(224, 220, 94);
  --red: rgb(219, 98, 110);
	--beige: rgb(222, 222, 183);
	--teal: darkcyan;

}

body, .extraBG, .header, #mainBG, .textBG, .textTXT {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {background-color: black; justify-content: space-around;}

.header {
	z-index: 1000;
	position: fixed;
	top: 0vh;
	width: 100vw;
	height: 11vh;
	background-color: var(--gray);
	justify-content: space-around;
  border: 1vh solid var(--teal);
}

.header p {
	color: white;
	text-align: center;
	margin: 0vw 2vw 0vw 2vw;
	font-size: 1.4vw;
	font-family: "Lato"; 
	font-weight: 700; 
	letter-spacing: 0.14vw;
  transition: color 200ms ease, font-size 200ms ease; cursor: pointer;
}

.header p a, .header p i {
	font-family: "Lato"; 
	font-weight: 700; 
	letter-spacing: 0.14vw;
	color: white;
}

.header p:hover {font-size: 3.2vh;}

#mainBG {
  z-index: 50;
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  transform: translate(0vw, 50vh);
  flex-direction: column;
  overflow-y: scroll;
  text-align: center;
}

#pt1 + .textBG {transform: translate(0vw, 100vh);}
#pic1 {transform: translate(0vw, 200vh); padding-top: 20vh; padding-bottom: 20vh; gap: 2vw;}
#pt2 + .textBG {transform: translate(0vw, 100vh);}
#pic2 {transform: translate(0vw, 200vh); padding-top: 20vh; padding-bottom: 20vh; gap: 2vw;}
#pt3 + .textBG {transform: translate(0vw, 100vh);}
#pic3 {transform: translate(0vw, 200vh); padding-top: 20vh; padding-bottom: 20vh; gap: 2vw;}
#pt4 + .textBG {transform: translate(0vw, 100vh);}
#pic4 {transform: translate(0vw, 200vh); padding-top: 20vh; padding-bottom: 20vh; gap: 2vw;}



.mainTXT {
  position: absolute;
  color: darkblue;
  font-size: 12vh;
  letter-spacing: 1vw;
  line-height: 11vw;
  font-family: "Poppins";
  font-weight: 900;
}

.textBG {
  position: absolute;
  flex-direction: column;
  max-width: 80vw;
}

.textTXT {
  flex-direction: row;
  font-family: "Geograph";
  font-size: 1.5vw;
  text-align: justify;
  align-items: flex-start;
  line-height: 2.3vw;
  gap: 4vw;
}

.title {font-weight: 900; font-size: 3.7vw;}
hr {height: 0.4vh; border-radius: 100%;}
.textBG hr {height: 0.8vh; width: 80vw;}

.imgBG {
  position: absolute;
	display: flex;
  flex-direction: row;
	justify-content: center;
	align-items: center;
  gap: 4vw;
}

.imgTXT {
  font-family: "Geograph";
  font-size: 1.3vw;
  transform: translate(0vw, -1.3vw);
  max-width: 50vw;
}

#mainBG img {border-radius: 5%;}

.extraBG {
	z-index: 97;
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: rgb(241, 242, 242);
  text-align: left;
  border: 1vh dashed rgb(12, 12, 107);
  overflow-y: scroll;
}

.sourcesTXT {
  position: absolute;
  top: 0vh;
  font-family: "Lato", sans-serif;
  color: rgb(83, 173, 197);
  font-weight: 900;
  font-size: 1.2vw; 
  padding: 5vw 6vw 5vw 6vw;
}

.sourcesTXT span {
  color: rgb(203, 179, 43);
  font-family: "Geograph";
  font-size: 2vw;
}